<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{fruit.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="4">
      <img src="{{fruit.image}}">
    </ion-col>
    <ion-col size="8">
      <ion-text>{{fruit.description}}</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
