<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Expandable Sandbox</ion-title>
  </ion-toolbar>
</ion-header>

<!--Realizamos una directiva ngFor y le pasamos los datos al componente de nuestra variable 'expandable'-->
<ion-content>
  <app-expandable-component *ngFor="let expandable of expandables" [title]="expandable.title">{{expandable.content}}</app-expandable-component>
</ion-content>
