<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rating Sandbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-text class="container mg-1rem title-style">Rating</ion-text>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!--componente de puntuación creado varias veces con directiva ngfor-->
        <app-rating-component *ngFor="let item of numberItems" (puntuations)="updatePuntuation($event)"></app-rating-component>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-text class="container mg-1rem title-style">Up votes sum: {{puntuationsCounter[0]}}</ion-text>
    </ion-row>
    <ion-row>
      <ion-text class="container mg-1rem title-style">Down votes sum: {{puntuationsCounter[1]}}</ion-text>
    </ion-row>
  </ion-grid>
</ion-content>
