<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fruit List Page</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-expandable-component *ngFor="let fruit of myFruitList" [title]="fruit.name">
    <app-fruit-component [fruit]="fruit"></app-fruit-component>
  </app-expandable-component>
</ion-content>
