<div class="container mg-1rem">
  <div>
    <ion-button color="success" (click)="addPositivePuntuation()">
      <ion-icon name="thumbs-up-sharp" class="white-color"></ion-icon>
      <p class="white-color">{{positivePuntuation}}</p>
    </ion-button>

    <ion-button color="danger" (click)="addBadPuntuation()">
      <ion-icon name="thumbs-down-sharp"></ion-icon>
      <p class="white-color">{{badPuntuation}}</p>
    </ion-button>
  </div>

  <div id="media-score">
    <p>{{averageScore}}/10</p>
  </div>
</div>
