<div class="container">
  <ion-grid>
    <ion-row class="container ion-margin-top">
      <ion-col size="4">
        <ion-avatar>
          <img src="{{fruit.image}}">
        </ion-avatar>
      </ion-col>

      <ion-col>
        <ion-text>
          {{fruit.description}}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-float-right">
      <ion-button color="primary" (click)="goToDetails()">VIEW DETAILS</ion-button>
    </ion-row>
  </ion-grid>
</div>
