<div class="mg-1rem">
  <div>
    <ion-card>
      <ion-button color="primary" size="small" expando="block" (click)="showInformationToggle()">
        <p>{{ displayedInfo ? '-' : '+' }}{{ title}}</p>
      </ion-button>
      <div>
        <ng-content *ngIf="displayedInfo">
        </ng-content>
      </div>
    </ion-card>
  </div>
</div>
